.top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    width: 80%;
}

.top-bar img {
    position: absolute;
    left: 0;
    cursor: pointer;
}

